<div class="controls" id="controls">
    <nav class="links">
        <ul>
            <li><a href="#" class="ico1">Mensagens <span class="num"><%= messages %></span></a></li>
            <li><a href="#" class="ico2">Alertas <span class="num"><%= alerts %></span></a></li>
            <li><a href="#" class="ico3">Documentos <span class="num"><%= documents %></span></a></li>
        </ul>
    </nav>
    <div class="profile-box">
        <span class="profile">
            <a href="#" class="section">
                <img class="image" src="img/img1.png" alt="image description" width="26" height="26" />
                <span class="text-box">
                    Bem vindo
                    <strong class="name"><%= username %></strong>
                </span>
            </a>
            <a href="#" class="opener">opener</a>
        </span>
        <a href="#" class="btn-on">On</a>
    </div>
</div>