
<strong class="logo"><a href="#">lg</a></strong>
<ul class="tabset buttons">
    <li class="active" id="dashboard-tab">
        <a href="#" class="ico1"><span>Dashboard</span><em></em></a>
        <span class="tooltip"><span>Dashboard</span></span>
    </li>
    <li id="gallery-tab">
        <a href="#gallery" class="ico2"><span>Galeria</span><em></em></a>
        <span class="tooltip"><span>Galeria</span></span>
    </li>
    <li id="pages-tab">
        <a href="#tab-3" class="ico3"><span>Páginas</span><em></em></a>
        <span class="tooltip"><span>Páginas</span></span>
    </li>
    <li id="widgets-tab">
        <a href="#tab-4" class="ico4"><span>Arquivos</span><em></em></a>
        <span class="tooltip"><span>Arquivos</span></span>
    </li>
    <li id="archive-tab">
        <a href="#tab-5" class="ico5"><span>Tarefas</span><em></em></a>
        <span class="tooltip"><span>Tarefas</span></span>
    </li>
    <li id="comments-tab">
        <a href="#tab-6" class="ico6">
            <span>Solicitações</span><em></em>
        </a>
        <span class="num">11</span>
        <span class="tooltip"><span>Solicitações</span></span>
    </li>
    <li id="plugin-tab">
        <a href="#tab-7" class="ico7"><span>Plug-in</span><em></em></a>
        <span class="tooltip"><span>Plug-in</span></span>
    </li>
    <li id="settings-tab">
        <a href="#tab-8" class="ico8"><span>Configurações</span><em></em></a>
        <span class="tooltip"><span>Configurações</span></span>
    </li>
</ul>
<span class="shadow"></span>
